<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="ko" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="ko" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="ko" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="ko" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div ng-controller="MainCtrl">
    What's your name?:
    <input type="text" focus ng-model="userName" />
    <button ng-click="greet()">Click here!</button>
    <h3>{{ message }}</h3>
<!--  click -->
    <!--    <div ng-show="show">-->
    <!--      I am only visible when is true.-->
    <!--    </div>-->
    <!--    <button ng-click="show = !show">Show!</button>-->

<!--  person object -->
<!--    <ul>-->
<!--      <li ng-repeat="person in developers">-->
<!--        {{person.name}} from {{person.country}}-->
<!--      </li>-->
<!--    </ul>-->
</div>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="core/version/version.js"></script>
<script src="core/version/version-directive.js"></script>
<script src="core/version/interpolate-filter.js"></script>
<script data-require="d3@3.2.2" data-semver="3.2.2" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>
<script src="app.js"></script>
</body>
</html>
